* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-width{
    margin: auto;
    max-width: 1280px;
    width: 100%;
}

.navbar-section {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}

.logo-img{
    width: 100px;
    object-fit: cover;
}

.bg-navbar{
    background-color: #00000050;
}

.header-section {
    position: relative;
    height: 100vh;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000050;
}

.header-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.header-content div:first-child{
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: serif !important;
}

.header-content div:nth-child(2){
    text-align: center;
    color: white;
    font-size: 54px;
    font-weight: 700;
}

.header-content div:last-child{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.header-video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.count-section {
    max-width: 1280px;
    margin: auto;
    margin-top: -93px;
}

.inner-count-div{
    z-index: 99;
    position: relative;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #00000010;
    padding: 25px 50px;
}

.inner-count-div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.count-number{
    color: #A28655;
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
    line-height: normal;
}

.service-section{
    max-width: 1280px;
    margin: auto;
    padding: 120px 0px 60px;
}

.section-heading div:first-child{
    text-align: center;
    color: #A28655;
    font-size: 14px;
    text-transform: uppercase;
}

.section-heading div:last-child{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.service-card-container {
    display: grid;
    gap: 24px;
    margin-block: 32px;
    grid-template-columns: auto auto auto auto;
}

.service-card-div {
    border-radius: 12px;
    box-shadow: 0px 0px 10px #00000010;
    padding: 20px;
}

.service-card-img {
    height: 170px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: all 300ms linear;
}

.service-img-parent{
    border-radius: 12px;
}

.service-card-img:hover {
    transform: scale(1.15);
}

.service-card-heading {
    font-size: 20px;
    min-height: 52px;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.service-card-content {
    font-size: 16px;
    height: 63px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: #777777;
    line-height: normal;
}

.custom-btn {
    font-size: 16px;
    padding: 10px 30px;
    text-align: center;
    border: 1px solid #A28655;
    color: #A28655;
    border-radius: 25px;
    background-color: white;
    transition: all 300ms linear;
}

.custom-btn:hover {
    color: white;
    font-weight: 700;
    background-color: #A28655;
}

.review-section {
    background-image: url("/assets/images/review-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 70px;
}

.inner-review {
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

.owl-nav{
    display: none;
}

.owl-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #A28655 !important;
}

.owl-theme .owl-dots .owl-dot span{
    margin: 0 !important;
}

.home-demo .item {
    background: white;
    border-radius: 12px;
}

.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

.team-section {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding: 120px 0px 50px;
}

.profile-img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px lightgray;
    background-color: white;
    object-fit: cover;
}

.profile-div-1{
    top: 25px;
}

.profile-div-2{
    bottom: 25px;
}

.team-rectangle-div{
    background-color: #EEF4F260;
    border-radius: 50px;
    height: 100px;
    width: 100%;
}

.team-rectangle-div div{
    font-size: 16px;
    font-weight: 700;
    max-width: 200px;
    flex: 1;
    text-align: center;
}

.profile-div-1 > *,
.profile-div-2 > * {
    max-width: 200px;
    flex: 1;
}

.profile-div-1 .arrow-img{
    transform: rotate(180deg);
    margin-top: 10px;
}

.profile-div-2 .arrow-img{
    margin-bottom: 10px;
}

.team-second-div{
    margin-top: -40px;
}

.address-section{
    background-color: #A2865510;
    padding-block: 50px;
}

.inner-address-section{
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

.address-div{
    flex: 1;
}

.inner-address-section .address-div div{
    color: #777777;
}

.address-haeding{
    color: #A28655 !important;
}

.footer-section{
    padding: 50px 20px 0px;
}

.inner-footer-section{
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding-bottom: 50px;
}

.inner-footer-section *{
   color: white;
   font-size: 14px;
}

.footer-heading{
    color: #A28655;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer-about{
    max-width: 30%;
    width: 100%;
}

.footer-contact{
    margin-top: 12px;
}

.footer-contact strong{
    color: #A28655;
}

.footer-list{
    max-width: 60%;
    width: 100%;
}

.footer-list li{
   margin-bottom: 5px;
}

.bottom-footer-section{
    border-top: 1px solid white;
    padding-block: 20px;
}

.bottom-footer-section div{
    max-width: 1280px;
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
}

@media (max-width: 1280px) {
    .count-section,
    .service-section,
    .container-width{
        margin-inline: 12px;
    }
    .inner-review{
        padding-inline: 12px;
    }
}
@media (max-width: 1199px) {
    .service-card-container {
        grid-template-columns: auto auto auto;
    }
    .header-content div:first-child{
        font-size: 24px;
    }
    
    .header-content div:nth-child(2){
        font-size: 36px;
    }
    
    .header-content div:last-child{
        font-size: 20px;
    }
    .team-rectangle-div div{
        max-width: 130px;
        font-size: 12px;
    }
    
    .profile-div-1 > *,
    .profile-div-2 > * {
        max-width: 130px;
        height: 130px;
        font-size: 12px;
    }

    .profile-div-1 .text-center{
        height: unset;
    }

    .arrow-img{
        height: 40px;
    }
}


@media (max-width: 767px) {
    .service-card-container {
        grid-template-columns: auto auto;
    }
    .inner-count-div{
        justify-content: center;
    }
}
@media (max-width: 600px) {
    .logo-img{
        width: 60px;
    }
    .navbar-toggler-icon{
        width: 21px !important;
    }
    .header-content div:first-child{
        font-size: 18px;
    }
    
    .header-content div:nth-child(2){
        font-size: 22px;
    }
    
    .header-content div:last-child{
        font-size: 14px;
    }
    .section-heading div:first-child{
        font-size: 12px;
    }
    .section-heading div:last-child{
        font-size: 18px;
    }
}
@media (max-width: 450px) {
    .service-card-container {
        grid-template-columns: auto;
    }
    .nav-link{
        font-size: 12px !important;
    }
}